h1 {
  color:#1BE7FF;
  font-family: "Lucida Console";
  letter-spacing: 2px;
}
body{
  background-color: grey
}


nav {
  list-style-type: none;
  width: 100%;
  background-color: skyblue;
    position: fixed
}
li a {
  text-decoration: none;
  display: block;
  padding: 25px 40px;
  float: left;
}
li a:hover {
  background-color: tan;
  color: red
}
